 .notification {
  background-color: gray;
  color: white;
  padding: 5px;
  width: 800px;
  margin-top: 20px;
 }

 .error {
   background-color: red;
   color: white;
 }

 .success {
   background-color: green;
   color: white;
 }
